<body>
<h4>Details</h4>
Name: {{ customer.name }}<br>
Email: {{customer.email}}<br>
Event: {{customer.event.name}}<br>
<hr>

<h4>Your Event Pass</h4>
<img src="/media/qrs/{{customer.event.id}}{{customer.email}}.png" height="200" width="200">
<hr>
<img src="{{file}}" height="200" width="200">
<hr>

<h4>Pass Balance</h4>
<table border="1">
    <td>Pass Type</td>
    <td>Balance</td>
    {% for name, balance in passes.items %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ balance }}</td>
        </tr>
    {% endfor %}
</table>
<hr>

</body>